.mholder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    user-select: none;
    position: relative;
    color: var(--secondary);
}

.mholder .bio{
    width: 50%;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    transition: all 0.5s ease;
    padding-left: 60px;
}

.bio h1{
    width: 100%;
    text-align: start;
    font-size: 50px;
}

.bio h2{
    font-size: 35px;
}

.bio span{
    color: var(--highlight);
}

.mholder .theme{
    position: absolute;
    right: 20px;
    top: 20px;
}

.mholder .theme:hover{
    cursor: pointer;
}


.mholder .art-body{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-anim{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.scroll{
    height: 30px;
    overflow: hidden;
}

.scroll div{
    width: 300px;
    height: 20px;
    margin-bottom: 30px;
    text-align: start;
}
.text1{
    animation: scroll 5s linear infinite;
}

.art-holder{
    display: flex;
    align-items: center;
    justify-content: center;
}

.art{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 20px var(--highlight);
    cursor: pointer;
    position: relative;
}

.window{
    position: relative;
}

.frame {
    position: relative;
    width: 350px;
    height: 250px;
    border: 2px solid var(--secondary);
    background: black;
    overflow:hidden;
    box-shadow: 0 0 20px red;
}

.hills {
    position: absolute;
    background-color: #46934c;
    width: 550px;
    height:200px;
    border-radius:50%;
    top:140px;
    left:-100px;
    box-shadow: 0 0 20px rgb(23, 52, 16);
}

.moon:hover, .clouds1:hover, .clouds2:hover, .hills:hover{
    animation: shake 0.5s infinite;
    cursor: pointer;
}

.moon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #F4F6F0;
    position: absolute;
    top: 20px;
    right: 20px;
    box-shadow: 0 0 20px white;
}

.moon::before{
    content:"";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: gray;
    position: absolute;
    top: 10px;
    right: 15px;
    box-shadow: inset 0 0 5px white;
}
.moon::after{
    content:"";
    width: 3px;
    height: 3px;
    border-radius: 2px;
    background-color: gray;
    position: absolute;
    top: 25px;
    right: 28px;
    box-shadow: inset 0 0 2px white;
}

.clouds1, .clouds2{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 20px white;
    position: absolute;
}

.clouds1{
    top: 30px;
    left: 40px;
}

.clouds2{
    top: 50px;
    left: 150px;
}

.clouds1::before, .clouds1::after, .clouds2::before, .clouds2::after{
    content:"";
    background-color: white;
    position: absolute;
}

.clouds1::before{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    top: 8px;
    left: -6px;
}
.clouds1::after{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 13px;
    left: 13px;
}

.clouds2::before{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 8px;
    left: -6px;
}
.clouds2::after{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    top: 8px;
    left: 10px;
}
  




@media screen and (max-width:1000px) {
    .mholder{
        flex-direction: column;
    }
    .bio h1, .scroll div{
        text-align: center;
    }
    .mholder .bio{
        width: 100%;
        align-items: center;
        padding: 0px 20px;
    }
    .mholder .art-body{
        width: 100%;
        padding-top: 80px;
    }
}
@media screen and (max-width:400px) {
    .bio h1{
        font-size: 35px;
    }
    .mholder .frame{
        width: 300px;
        height: 200px;
    }

    .hills{
        width: 500px;
        height:150px;
        top:100px;
    }
}

@keyframes scroll {
    0%{margin-top: -200px;}
    5%{margin-top: -150px;}
    25%{margin-top: -150px;}
    30%{margin-top: -100px;}
    50%{margin-top: -100px;}
    55%{margin-top: -50px;}
    75%{margin-top: -50px;}
    80%{margin-top: 0px;}
    100%{margin-top: 0px;}
}

@keyframes shake {
    0% { transform: translate(1px, 1px)}
    10% { transform: translate(-1px, -1px)}
    20% { transform: translate(0px, 0px)}
    30% { transform: translate(1px, 1px)}
    40% { transform: translate(1px, -1px)}
    50% { transform: translate(-1px, 1px)}
    60% { transform: translate(-1px, 1px)}
    70% { transform: translate(1px, 1px)}
    80% { transform: translate(-1px, -1px)}
    90% { transform: translate(1px, 1px)}
    100% { transform: translate(1px, -1px)}
}
