.skillcomp{
    display: flex;
    width: 100%;   
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    flex-direction: column;
    user-select: none;
    padding: 20px 0px;
    color: var(--primary);
    overflow: hidden;
}

.stitle{
    display: flex;
    width: 100%;
    height: 10%;    
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    font-size: 24px;
    font-weight: bold;
}

.sholder{
    display: flex;
    width: 100%;
    height: 90%;    
    align-items: center;
    justify-content: space-around;
    padding: 20px 16%;
    flex-wrap: wrap;
}

.sholder .card{
    width: 100px;
    height: 110px;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10px;
    display: flex;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px var(--highlight);

}

.sholder .card:hover{
    animation: wobble 0.5s ease;
}
